<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>NBG Python Test Calls</title> 


        <link rel="stylesheet" type="=text/css" href="{{ url_for('static', filename='main.css') }}">	
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">				</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    </head>
    <body style="margin:20px;" onload="load()">

       <div class="header">
  <img href="/" src="https://developer.nbg.gr/static/media/developerstudio@4x.cc1a74b3.png" class="logo"/>
  <div class="header-right">
    <a href="/">Home</a>
      <div class="dropdown">
    <a href="#">Calls
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content">
      <a href="/createsandbox">Create Sandbox</a>
      <a href="/exportsandbox">Export Sandbox</a>
      <a href="/deletesandbox">Delete Sandbox</a>
        <a href="/createsandboxuser">Create Sandbox User</a>
    </div>
  </div> 
      
   <a href="https://github.com/myNBGcode/PostmanCollections" target="_blank">Resources</a>
    <a href="https://developer.nbg.gr/" target="_blank">Portal</a>
      <a href="https://github.com/myNBGcode" target="_blank">Github</a>
      <a href="#docs">Documentation</a>
  </div>
</div>
        
       
        <h1 style="text-align:center;">NBG Python Test Calls - <span style="color:#006e80;">Welcome to our Test Website</span></h1>
       
 
<!--************************************* REQUEST CALL BUTTONS ********************************************-->       
        
        <div id="testcalls" >
        <h3 style="font-size:32px;text-align:center;" >
            Request <span style="color:#015563">Samples:</span>
        </h3> </div>
        <div id="showbuttons" style="text-align:center;margin-bottom:55px;margin-top:25px;" >
        <ol style="font-size: 14px;" >
            <li style="display:inline-block;"> <a href="/createsandbox" target="_blank" id="createsandbox"><button class="button">Create Sandbox call</button></a></li>
            <li style="display:inline-block;"><a href="/exportsandbox" target="_blank" id="exportsandbox"><button class="button">Export Sandbox call</button></a></li>
            <li style="display:inline-block;"><a href="/deletesandbox" target="_blank" id="deletesandbox"><button class="button">Delete Sandbox call</button></a></li>
            <li style="display:inline-block;"><a href="/createsandboxuser" target="_blank" id="createsandboxuser"><button class="button">Create Sandbox User call</button></a></li>

 <!--           <li style="display:inline-block;"><a href="/yourNextCall.php"><button class="button">Your Next Call</button></a></li>
            <li style="display:inline-block;"><a href="/yourNextCall2.php"><button class="button">Your Next Call 2</button></a></li>       ---->
        </ol>
        </div>
        
        
        <div >
            <h3 style="font-size: 24px;margin-bottom:10px;">
                Response Samples:
            </h3>
            <textarea name="" class="textareacss" id="myTextarea" cols="80" rows="50" style="width:100%">

                {% if data %}
                {{ data|pprint }}
                {% endif %}
            </textarea> </div> 
			<script>var textedJson = JSON.stringify(data, undefined, 4);
            $('#myTextarea').text(textedJson); </script> 
 
        
<!--********************************** FOOTER (HELP AREA) *******************************************-->        
        
        
 <footer class="footer">
<div class="container">
        <h4 class="title" style="text-align:center;margin:0px;text-decoration:underline;">Help Area</h4>
        <div class="row" style="padding">

        <div style="width:20%;display:inline-block;" class="col">
            <h4 class="title">Documentation:</h4>
            <p>Before using an API, the creation of an application is required. Please refer to each call in app.py file to add or remove header and payload fields. Take a look at our APIs to see what choices are available. Use the supplied APIs to quickly construct a fully featured application. Visit <a href="https://developer.nbg.gr" target="_blank" style="color:white;"><strong>developer.nbg.gr</strong></a> for more info and documentation.</p>


            </div>
        <div style="width:30%;display:inline-block;" class="col">
            <h4 class="title">Your Stored Variables:</h4>
            <span class="acount-icon">

            <a > Current API: {{ api|pprint }} </a>
            <a > API version: {{ version|pprint }} </a>
            <a>Current Sandbox_id: {{ sandbox_id|pprint }} </a>
            <a>Sandbox User Username: {{ username|pprint }} </a>
            <a>Client-Id: {{ client_id|pprint }} </a>
  <!--           <a>Request-Id: <?php// echo $request_id ; ?></a>
                 <a>Authorization: <?php// echo $token ; ?></a>
                 <a>YourVariable: <?php// echo $YourVariable ; ?></a>
                 <a>YourVariable: <?php// echo $YourVariable ; ?></a>
                 <a>YourVariable: <?php// echo $YourVariable ; ?></a>
                 <a>YourVariable: <?php// echo $YourVariable ; ?></a>  -->
            <a style="color:#d9d9d9">Add your own! Please refer to index.php and footer.php to change or add values according to your needs.</a>
          </span>
            </div>
        <div style="width:45%;display:inline-block;" class="col">
            <h4 class="title">More APIs to engage with:</h4>
            <div class="category">
            <a href="#">Points of Interest</a>
            <a href="#">Confirmation of Funds - PSD2</a>
            <a href="#">IBAN Validation</a>
            <a href="#">Payment Initiation - PSD2</a>
            <a href="#">FX Rates</a>
            <a href="#">Bill Payments</a>
            <a href="#">Rewards Platform</a>
            <a href="#">Optical Character Recognition</a>
            <a href="#">Crowdfunding</a>
            <a href="#">ERP Bank Connection</a>
            <a href="#">Account Information - PSD2</a>
            <a href="#">Account Information - UK Open Banking</a>
            <a href="#">Cards</a>
            <a href="#">Loan Payments Platform</a>
            <a href="#">Social Network Platform</a>
            <a href="#">Accounts</a>
            <a href="#">Biometrics</a>
            <a href="#">Payments</a>
            <a href="#">Digital Payments Wallet</a>
            <a href="#">Transactions</a>
            <a href="#">i-bank Pay eCommerce Platform</a>
            <a href="#">ERP Bank Connection</a>
            </div>
            </div>
        </div>
        </div>
        <hr>

        <div style="text-align:center;margin-top:20px;"> © 2019. Made with &hearts; by studio.developer.NBG</div>

    </footer>        
        
        
                <script>
/*************************** FORM HANDLER WITH RADIO BUTTONS ****************************/

/******************** SHOW HEADER API FORM BY DEFAULT - HIDE OAUTH FORM *****************/
  if(document.getElementById('input1').checked) {
 document.getElementById('oauthapiform').style.pointerEvents="none" ;
    document.getElementById('oauthapiform').style.opacity="0.5" ;
}
/*********************** SHOW HEADER API FORM WHEN FIRST RADIO BUTTON IS CHECKED - HIDE AND DISABLE OAUTH FORM ********************/
  function showHeader(a) {
  if (a.checked == true) {
    document.getElementById('oauthapiform').style.pointerEvents="none" ;
    document.getElementById('oauthapiform').style.opacity="0.5" ;
      document.getElementById('headersapiform').style.pointerEvents="auto" ;
    document.getElementById('headersapiform').style.opacity="1" ;
  }
}
/************************** SHOW OAUTH2 API FORM WHEN SECOND RADIO BUTTON IS CLICKED - HIDE AND DISABLE HEADERS FORM *************************/
            function showOauth(a) {
  if (a.checked == true) {
    document.getElementById('headersapiform').style.pointerEvents="none" ;
    document.getElementById('headersapiform').style.opacity="0.5";
      document.getElementById('oauthapiform').style.pointerEvents="auto" ;
    document.getElementById('oauthapiform').style.opacity="1" ;
  }
}
	</script>
        
        <!--
Status code pop up content. Feel free to add it in your new requests, in order to show the Status Code of your calls.
-->
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>  
                    <span style="color:#006e80;">Status code: </span>{{ statuscode|pprint }}
               
                </h2>
                <a class="close" href="#">&times;</a>

            </div>
        </div>


<!--
Script for Status Code pop up. Remember to change the href url according to your needs.
-->
        <script type="text/javascript">
            function load()
            {
                window.location.href = "#popup1";
            }
        </script>

        
    </body>

</html>
