<h1>NBG Python Test Calls</h1>
<h2 style="font-size: 24px;">
    Before you run the calls you need to change the parameters named REPLACE_THIS_VALUE or REPLACE_SANDBOX_ID in the .py files
</h2>
<p>
    {% if data %}
            {{ data|pprint }}
    {% endif %}
</p>
<ol style="font-size: 14px;">
    <li><a href="/createsandbox" target="_blank" id=createsandbox style="font-size: 20px;">Create Sandbox Call</a></li>
    <li><a href="/myaccounts" target="_blank" id=myaccounts style="font-size: 20px;">My Accounts call</a></li>
    <li><a href="/deletesandbox" target="_blank" id=deletesandbox style="font-size: 20px;">Delete Sandbox call</a></li>
</ol>
</body>

